# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

testing.ipynb

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log
*.out
*.err

# Local state
*.pid
*.seed
*.state
*.sublime-workspace

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# System files
.DS_Store
Thumbs.db

# Application-specific
torrents_state.json
state.json
config.json

ssh_config